data_store/
user/
artifacts/
node_modules/
logs/
ynpm-debug.log
npm-debug.log
build.dev/
build.prod/
build.test/
build.electron/
.gbstate/
*.sublime-workspace
Bfxr
*.00?
config/*.json
.DS_Store
wsdebug.json
