html, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  overflow: hidden;
}

#content {
  width: 100%;
  height: 100%;
}

canvas {
  display: block; /* remove scrollbars */
}

#debug {
  left: 0;
  top: 0;
  position: fixed;
  white-space: pre-wrap;
}

.screen {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.screenwrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#gamescreen,#fullscreen {
  pointer-events: none;
}

.hflex {
  display: flex;
  flex-direction: row;
}

.vflex {
  display: flex;
  flex-direction: column;
}

.fluid {
  flex: 1;
}

.flexcenter {
  align-self: center;
}
